h1{
    text-align: center;
    font-family: cursive;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    font-family: Arial Black;
}
a.register-link {
    width: fit-content;
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    margin-left: auto;
    margin-right: 50%;
}