
body {
    font-family: cursive;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.all {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.register {
    text-align: center;
    color: #333;
}

.input {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align:center;
}

.button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
/* Style for the register link */
a.register-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}
button{
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    width: 99%;
    border-width: 1px;
    border-radius: 5px;
}