.top{
    text-align: center;
}
.Personal{
    position: absolute;
    left: 14%;
    background-color: lightblue;
    width: 510px;
    text-align: right;
}
.pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    border: solid;
    border-color: white;
    border-width: 10px;
}
.contact{
    border: solid;
    position: absolute;
    left: 0%;
    top: 40%;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 300px;
}
.education{
    border: solid;
    position: absolute;
    left: 0%;
    top: 70%;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 300px;
}
.skills{
    border: solid;
    position: absolute;
    left: 0%;
    top: 90%;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 300px;
}
.profile{
    border: solid;
    position: absolute;
    left: 25%;
    top: 40%;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 300px;
}
.experience{
    border: solid;
    position: absolute;
    left: 25%;
    top: 70%;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 300px;
}